.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.header {
  background-color: #fff8f3;
  background-image: url("../assets/images/developer.png"),
    url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding: 38px 23px 25px 23px;
}
.primary-text {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.button-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 18px 35px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
.dark-2 {
  color: #474747;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
.nav-title {
  font-weight: bolder;
  font-size: 45px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
}
.banner-name {
  font-size: 85px;
  font-weight: bold;
}
.banner-para {
  font-size: 18px;
  font-weight: 400;
  color: #474747;
}
.banner-pp {
  height: 676px;
  width: 584px;
}
.text-center {
  text-align: center;
}
.section-title {
  font: bold;
  font-size: 35px;
  color: #181818;
}
.section-desc {
  font: 400;
  font-size: 18px;
  color: #757575;
}
/*main section*/

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  text-align: center;
  padding: 130px 150px;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-desc {
  font-weight: 600;
}

.skill {
  border-radius: 10px;
  text-align: left;
  text-align: center;
}
.skills {
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
}
.skill-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-top: 50px;
}
.resume-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.bg {
  background-color: #fff8f3;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  gap: 150px;
  padding: 50px 200px;
}
footer textarea {
  resize: none;
  /* optional: hide any overflow scrollbar */
  overflow: auto;
}
footer input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  display: block;
  border: none;
  height: 64px;
  width: 100%;
  padding: 18px 30px;
  margin-bottom: 24px;
}
